<section uiPage="form" class="auth">
  <p class="kicker">Account</p>
  <h1>Reset password</h1>
  @if (message()) {
    <p uiNotice="success">{{ message() }}</p>
    <p class="switch"><a routerLink="/login">Sign in</a></p>
  } @else {
    <form class="ui-stack" [formGroup]="form" (ngSubmit)="submit()">
      <label uiField>
        New password
        <input uiInput type="password" formControlName="password" autocomplete="new-password" />
      </label>
      <label uiField>
        Confirm password
        <input uiInput type="password" formControlName="confirm" autocomplete="new-password" />
      </label>
      @if (error()) {
        <p uiNotice="error">{{ error() }}</p>
      }
      <button uiButton type="submit">Update password</button>
    </form>
    <p class="switch"><a routerLink="/forgot-password">Request a new link</a></p>
  }
</section>
