<section class="auth">
  <p class="kicker">Account</p>
  <h1>Reset password</h1>
  @if (message()) {
    <p>{{ message() }}</p>
    <p class="switch"><a routerLink="/login">Sign in</a></p>
  } @else {
    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>
        New password
        <input type="password" formControlName="password" autocomplete="new-password" />
      </label>
      <label>
        Confirm password
        <input type="password" formControlName="confirm" autocomplete="new-password" />
      </label>
      @if (error()) {
        <p class="err">{{ error() }}</p>
      }
      <button class="btn primary" type="submit">Update password</button>
    </form>
    <p class="switch"><a routerLink="/forgot-password">Request a new link</a></p>
  }
</section>
